.addProductFormform {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    border: 1px solid black;
}

input {
    padding: .5rem;
    border-radius: 5px;
    text-align: center;
    font-size: .9rem;
}

select {
    padding: .5rem;
    border-radius: 5px;
    text-align: center;
    font-size: .9rem;
}

button {
    padding: .5rem;
    border-radius: 5px;
    text-align: center;
    font-size: .9rem;
}